.homepage {
    /* Add overall styles for the homepage container */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  



  /* Hero section */

  .hero {
    /* Add styles for the hero section container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50vh;
    border: 1px solid black;
  }
  
  .hero-content {
    /* Add styles for the content within the hero section */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hero-image {
    /* Add styles for the hero image */
  }
  
  .hero-form {
    display: flex;
  }


 /* Features section */

  .features {
    /* Add styles for the features section container */
    display: flex;
    justify-content: space-between;
    width: 60%;
    border: 1px solid black;

  }
  
  .feature {
    /* Add styles for each individual feature */
  }
  
  .feature-icon {
    /* Add styles for the feature icon */
  }
  


  /* Testimonial section */

  .testimonial {
    /* Add styles for the testimonial section container */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;

  }
  
  .testimonial-text {
    /* Add styles for the testimonial text */
  }
  
  .testimonial-image {
    /* Add styles for the testimonial image */
  }
  