.header {
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.6rem;
    /* border: 1px solid black; */
}

nav {
    /* border: 1px solid black; */
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.logo {
    /* border: 1px solid black; */
    width: 20%;
}
.logo-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-button {
    text-decoration: none;
    margin-right: 0.6rem;
    padding: 0.5rem 0.75rem;
    color: #333;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    width: 8%;
    text-align: center;
}
.header-button:hover{
    background-color: #a37cf0;
    color: #fff;
}

#header-book {
    text-decoration: none;
    margin-right: 0.6rem;
    padding: 0.5rem 0.75rem;
    background-color: #333;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    width: 10%;
    text-align: center;
}
#header-book:hover{
    background-color: #a37cf0;
}
  